src/XML_Schema_System.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="System">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Artists">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Artist" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="xs:string"/>
                    <xs:element name="Country" type="xs:string"/>
                    <xs:element name="Genre" type="xs:string" maxOccurs="unbounded"/>
                    <xs:element name="YearFormed" type="xs:gYear" minOccurs="0"/>
                    <xs:element name="YearStartedPerforming" type="xs:gYear" minOccurs="0"/>
                    <xs:element name="YearOfBirth" type="xs:gYear" minOccurs="0"/>
                    <xs:element name="Age" type="xs:positiveInteger" minOccurs="0"/>
                    <xs:element name="NumberOfMembers" type="xs:positiveInteger" minOccurs="0"/>
                    <xs:element name="NetWorth" type="xs:decimal" minOccurs="0"/>
                    <xs:element name="Albums" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Album" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Title" type="xs:string"/>
                                <xs:element name="ReleaseYear" type="xs:gYear" minOccurs="0"/>
                                <xs:element name="Price">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:pattern value="\$\d{1,3}(\.\d{2})?"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
                              <xs:attribute name="occupied">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:enumeration value="0"/>
                                    <xs:enumeration value="1"/>
                                    <xs:enumeration value="2"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
                  <xs:attribute name="type" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="Group"/>
                        <xs:enumeration value="Singer"/>
                        <xs:enumeration value="DJ"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="Clients">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Client" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="xs:string"/>
                    <xs:element name="Surname" type="xs:string"/>
                    <xs:element name="Address" minOccurs="0">
                      <xs:complexType>
                        <xs:choice>
                          <xs:sequence>
                            <xs:element name="Street" type="xs:string"/>
                            <xs:element name="Number" type="xs:positiveInteger"/>
                          </xs:sequence>
                          <xs:simpleContent>
                            <xs:extension base="xs:string">
                              <xs:attribute name="pattern" use="optional" fixed="[a-zA-Z]+\sSt\.?\s\d{1,2}"/>
                            </xs:extension>
                          </xs:simpleContent>
                        </xs:choice>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Email">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:pattern value="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Phone" minOccurs="0" maxOccurs="unbounded">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:pattern value="75[0-9]-[1-9][0-9]{3}"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Rentals" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Rent" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="AlbumID" type="xs:positiveInteger"/>
                                <xs:element name="Date" type="xs:string"/>
                                <xs:element name="ReturnDate" type="xs:string" minOccurs="0"/>
                              </xs:sequence>
                              <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
                              <xs:attribute name="returnState" use="required">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:enumeration value="functional"/>
                                    <xs:enumeration value="slightly damaged"/>
                                    <xs:enumeration value="damaged"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
